@model Lab.Application.DTOs.CartDetailDTO

<h2>Delete Cart Detail</h2>

<h4>Are you sure you want to delete this cart detail?</h4>
<hr />
<dl class="row">
    <dt class="col-sm-2">Cart ID</dt>
    <dd class="col-sm-10">@Model.CartId</dd>

    <dt class="col-sm-2">Book</dt>
    <dd class="col-sm-10">@Model.Book?.Title</dd>

    <dt class="col-sm-2">Quantity</dt>
    <dd class="col-sm-10">@Model.Quantity</dd>

    <dt class="col-sm-2">Price</dt>
    <dd class="col-sm-10">@Model.Price</dd>
</dl>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
